body{
  background: #000428; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #000428, #004e92); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #000428, #004e92); 
}

.at-section__title {
    margin: 0 0 70px;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 2.625rem;
    text-align: center;
  }
  .at-grid {
    
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background: #FFF;
    border: 1px solid #E2E9ED;
  }
  .at-grid[data-column="1"] .at-column {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .at-grid[data-column="2"] .at-column {
    width: 50%;
    max-width: 50%;
    min-width: 50%;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .at-grid[data-column="3"] .at-column {
    width: 33.33333%;
    max-width: 33.33333%;
    min-width: 33.33333%;
    -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
  }
  .at-grid[data-column="4"] .at-column {
    width: 25%;
    max-width: 25%;
    min-width: 25%;
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
  .at-grid[data-column="5"] .at-column {
    width: 20%;
    max-width: 20%;
    min-width: 20%;
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
  }
  .at-grid[data-column="6"] .at-column {
    width: 16.66667%;
    max-width: 16.66667%;
    min-width: 16.66667%;
    -ms-flex-preferred-size: 16.66667%;
        flex-basis: 16.66667%;
  }
  .at-grid[data-column="7"] .at-column {
    width: 14.28571%;
    max-width: 14.28571%;
    min-width: 14.28571%;
    -ms-flex-preferred-size: 14.28571%;
        flex-basis: 14.28571%;
  }
  .at-grid[data-column="8"] .at-column {
    width: 12.5%;
    max-width: 12.5%;
    min-width: 12.5%;
    -ms-flex-preferred-size: 12.5%;
        flex-basis: 12.5%;
  }
  .at-grid[data-column="9"] .at-column {
    width: 11.11111%;
    max-width: 11.11111%;
    min-width: 11.11111%;
    -ms-flex-preferred-size: 11.11111%;
        flex-basis: 11.11111%;
  }
  .at-column {
    z-index: 0;
    position: relative;
    background: #FFF;
    box-shadow: 0 0 0 1px #E2E9ED;
    padding: 10px;
    box-sizing: border-box;
    -webkit-transition: box-shadow 0.2s ease, z-index 0s 0.2s ease, -webkit-transform 0.2s ease;
    transition: box-shadow 0.2s ease, z-index 0s 0.2s ease, -webkit-transform 0.2s ease;
    transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0.2s ease;
    transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0.2s ease, -webkit-transform 0.2s ease;
  }
  .at-column:before {
    content: "";
    display: block;
    padding-top: 100%;
  }
  .at-column:hover {
    z-index: 1;
    box-shadow: 0 8px 50px rgba(0, 0, 0, 0.2);
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-transition: box-shadow 0.2s ease, z-index 0s 0s ease, -webkit-transform 0.2s ease;
    transition: box-shadow 0.2s ease, z-index 0s 0s ease, -webkit-transform 0.2s ease;
    transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0s ease;
    transition: box-shadow 0.2s ease, transform 0.2s ease, z-index 0s 0s ease, -webkit-transform 0.2s ease;
  }
  .at-column:hover .at-social {
    margin: 16px 0 0;
    opacity: 1;
  }
  @media (max-width: 800px) {
    .at-column {
      width: 50% !important;
      max-width: 50% !important;
      min-width: 50% !important;
      -ms-flex-preferred-size: 50% !important;
          flex-basis: 50% !important;
    }
  }
  @media (max-width: 600px) {
    .at-column {
      width: 100% !important;
      max-width: 100% !important;
      min-width: 100% !important;
      -ms-flex-preferred-size: 100% !important;
          flex-basis: 100% !important;
    }
  }
  .at-user {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    text-align: center;
  }
  .at-user__avatar {
    width: 140px;
    height: 140px;
    border-radius: 100%;
    margin: 0 auto 20px;
    overflow: hidden;
  }
  .at-user__avatar img {
    display: block;
    width: 100%;
    max-width: 100%;
  }
  .at-user__name {
    
    font-family: 'Roboto', sans-serif;
    font-size: 1.9rem;
    font-weight: 500;
    line-height: 2.625rem;
    background: -webkit-linear-gradient(orange, blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }
  .at-user__title {
    
    font-family: 'Roboto', sans-serif;
    font-size: 1.0rem;
    line-height: 2.375rem;
               background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
      -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }
  @-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
  .fade-in {
    opacity:0;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;
  
    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
  
    -webkit-animation-duration:2s;
    -moz-animation-duration:2s;
    animation-duration:2s;
  }
  
  .fade-in.one {
    -webkit-animation-delay: 1.1s;
    -moz-animation-delay: 1.1s;
    animation-delay: 1.1s;
  }
  
  .fade-in.two {
    -webkit-animation-delay: 3.1s;
    -moz-animation-delay:3.1s;
    animation-delay: 3.1s;
  }
  
  .fade-in.three {
    -webkit-animation-delay: 2.6s;
    -moz-animation-delay: 2.6s;
    animation-delay: 2.6s;
  }
  .fade-in.four {
      -webkit-animation-delay: 2.1s;
      -moz-animation-delay: 2.1s;
      animation-delay: 2.1s;
    }
    .fade-in.five{
      -webkit-animation-delay: 3.1s;
      -moz-animation-delay: 3.1s;
      animation-delay: 3.1s;
    }
    .fade-in.six {
      -webkit-animation-delay: 1.6s;
      -moz-animation-delay: 1.6s;
      animation-delay: 1.6s;
    }
    
 
  